<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">
			<Identity Name="20853SifatAhmedIV.Windowsphone-BD" Publisher="CN=7C2DC330-F617-439D-9DB3-ED6CF09604DA" Version="3.0.2.1" />
	    <mp:PhoneIdentity PhoneProductId="897876d9-c164-42a0-92bf-f518d84b0879" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
    <Properties>
        <DisplayName>Windowsphone-BD</DisplayName>
        <PublisherDisplayName>NerdDev Studio</PublisherDisplayName>
        <Logo>Assets\StoreLogo.png</Logo>
    </Properties>
    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    </Dependencies>
    <Resources>
        <Resource Language="x-generate"/>
    </Resources>
    <Applications>
        <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WindowsphoneBD.App">
            <uap:VisualElements 
			  DisplayName="Windowsphone-BD"
              Square150x150Logo="Assets\Square150x150Logo.png"
              Square44x44Logo="Assets\Square44x44Logo.png"
              Description="Windowsphone Bangladesh app is here ! Now you can visit our blog directly from this app. no need to search for links. Keep up to date with new tricks and tips. play youtube tutorials directly from the app and many more !"
              BackgroundColor="#27282c">
                <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#27282c"/>
                <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Square71x71Logo="Assets\Square71x71Logo.png">
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo" />
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile>
            </uap:VisualElements>
        </Application>
    </Applications>
    <Capabilities>
        <Capability Name="internetClient" />
    </Capabilities>
</Package>
